.block1 {
    height: 80vh;
    background: url('../images/block1img.jpg') center no-repeat;
    background-size: cover; 
}


.block3{
    background-color: #fbfaf8;
    height: 50vh;
    width: 100vw;
}
.block4{
    background-color: #fbfaf8;
}
.block5{
    background-image: url(../images/videoBack.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.block6{
    background-color: #fbfaf8;
}
.block7{
    background-color: #281f1b;
}
.block9{
    background-image: url(../images/logosBackground.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.block10{
    background-color: #191919;
}